.bordersDropshadow,
.popupMenu,
.favoritesPopup,
a.messageBar:hover,
a.messageBar:active,
a.messageBar:focus,
#mainArea .popFilterOpt,
.fourBorders,
td.wysSymbol
{
    border-left-color:#f1e9d6;
    border-top-color:#f1e9d6;
    border-right-color:#7e8276;
    border-bottom-color:#7e8276;
}

.hrMenuDivider,
.popupMenu hr,
.popFilterOpt hr
{
    border-color:#D8D8D8;
}

.borderButton
{
    border-top-color:#ccc;
    border-left-color:#ccc;
    border-right-color:#8c8b89;
    border-bottom-color:#8c8b89;
}

.droplist-text
{
    border-color:#8fb3d4;
}

.flat-left-arrow-black
{
    border-right-color:#000;
}

.flat-right-arrow-black
{
    border-left-color:#000;
}

.flat-down-arrow-black
{
    border-top-color:#000;
    margin-bottom:1px;
}

#bugviewContainer .buttonbar ul.toolbar li a
{
    color:#555;
    text-shadow:0 1px rgba(255, 255, 255, 0.5);
}

#bugviewContainer .buttonbar ul.toolbar.buttons,
.colorschemeHeader
.bugList a.gridCatLink
{
    /*background-color:#efefef;*/
    background-color:#002b36;
}

#bugviewContainer .buttonbar ul.toolbar.buttons li a:hover
{
    /*border-color:#ddd;*/
    border-color:#cb4b16;
}

#bugviewContainer .buttonbar ul.toolbar.buttons li a:active
{
    background-color:#ccc;
    border-color:#aaa;
    border-bottom-color:#bbb;
    border-top-color:#999;
}

#bugviewContainer .buttonbar.buttonbarTop .buttons
{
    /*border-bottom-color:#ccc;*/
    border-bottom-color:#073642;
}

#bugviewContainer .buttonbar.buttonbarBottom .buttons
{
    /*border-top-color:#ccc;*/
    border-top-color:#073642;
}

#bugviewContainerTop
{
    /*border-bottom-color:#cdcdcd;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.05);*/
    border-bottom-color:#073642;
    box-shadow:0 2px 2px #073642;
}

#bugviewContainer
{
    /*background-color:#f5f5f5;
    border-color:#ccc;
    box-shadow:0 1px 5px #ccc;*/
    background-color:#002b36;
    border-color:#073642;
    box-shadow:0 1px 5px #073642;
}

#bugviewContainer .top .ixBug
{
    color:#3a4961;
}

#bugviewContainer .top .ixBug a
{
    color:#3a4961;
}

#bugviewContainer .top .ixBug a:visited
{
    color:#3a4961;
}

#bugviewContainer .top .title
{
    color:#3a4961;
}

#bugviewContainer .top .subtitle .fixfor
{
    color:#68615e;
}

#bugviewContainer .top .statusbar
{
    color:#68615e;
}

#bugviewContainer .top .plugins.view label
{
    color:#262626;
    background-color:#E9E9E9;
    border-left-color:#C0C0C0;
    border-top-color:#C0C0C0;
}

#bugviewContainer .side .label
{
    color:#262626;
}

#bugviewContainer .side label
{
    color:#262626;
}

#bugviewContainer .bugevents .bugevent.detailed,
#bugviewContainer .bugevents .pseudobugevent.detailed
{
    background-color:#F0F0F0;
    border-color:#C0C0C0;
    border-bottom-color:#BBB;
    box-shadow:0 1px 0 rgba(0, 0, 0, 0.05),inset 1px 1px #fff;
}

#bugviewContainer .bugevents .bugevent.detailed.email,
#bugviewContainer .bugevents .pseudobugevent.detailed.email
{
    background-color:#f0f0f0;
    box-shadow:0 1px 0 rgba(0, 0, 0, 0.05),inset 1px 0 #fff;
}

#bugviewContainer .bugevents .bugevent.brief,
#bugviewContainer .bugevents .pseudobugevent.brief
{
    background-color:#EFEFEF;
    border-color:#CFCFCF;
    box-shadow:inset 1px 1px #fff;
}

#bugviewContainer .bugevents .bugevent.brief .body.editable,
#bugviewContainer .bugevents .pseudobugevent.brief .body.editable
{
    border-top-color:#ccc;
}

#bugviewContainer .bugevents .bugevent .action-name,
#bugviewContainer .bugevents .pseudobugevent .action-name
{
    color:#444;
}

#bugviewContainer .bugevents .bugevent .summary,
#bugviewContainer .bugevents .pseudobugevent .summary,
#bugviewContainer .bugevents .bugevent .changes,
#bugviewContainer .bugevents .pseudobugevent .changes
{
    color:#5a5f66;
}

#bugviewContainer .bugevents .bugevent .summary .action,
#bugviewContainer .bugevents .pseudobugevent .summary .action,
#bugviewContainer .bugevents .bugevent .changes .action,
#bugviewContainer .bugevents .pseudobugevent .changes .action
{
    text-shadow:0 1px rgba(255, 255, 255, 0.5);
}

#bugviewContainer .bugevents .bugevent .date,
#bugviewContainer .bugevents .pseudobugevent .date
{
    color:#888;
}

#bugviewContainer .bugevents .bugevent .footer
{
    border-top-color:#ccc;
    background-color:#efefef;
}

#bugviewContainer .bugevents .bugevent .editable
{
    border-top-color:#CCC;
}

#bugviewContainer .bugevents .bugevent .body textarea
{
    border-color:#ccc;
}

#bugviewContainer .bugevents .bugevent .noteResolvesChildren
{
    color:#666;
}

#bugviewContainer .bugevents #bugviewContainerEdit .bugevent .summary
{
    background-color:#efefef;
    box-shadow:inset 1px 1px #fff;
}

#bugviewContainer .bugevents #bugviewContainerEdit .bugevent.email
{
    background-color:#f0f0f0;
    box-shadow:0 1px 0 rgba(0, 0, 0, 0.05),inset 1px 0 #fff;
}

#bugviewContainer .bugevents #bugviewContainerEdit .bugevent .body
{
    _background-color:#e0e9f1;
}

#fieldPalette
{
    border-color:#bac2cc;
}

#fieldPaletteHeader
{
    color:#262626;
    background-color:#e0e9f1;
}

#bugviewContainer #fieldPaletteHeader a
{
    color:#262626;
}

#bugviewContainer #fieldPaletteContent a:focus,
#fieldPaletteContent a:active,
#fieldPaletteContent a:hover
{
    background-color:#b1c9dd;
}

a.uvb:link,
a.uvb:visited,
body .favoritesPopup a.uvb:link,
body .favoritesPopup a.uvb:visited,
a.uvd:link
{
    /*color:#39668e;*/
    color:#268bd2;
}

a.vb:link,
a.vb:visited,
body .favoritesPopup a.vb:link,
body .favoritesPopup a.vb:visited,
a.uvd:visited
{
    /*color:#938;*/
    color:#268bd2;
}

#mainArea .head
{
    color:#919382;
}

#mainArea #rightSide .userNotice
{
    color:#919382;
}

#mainArea #rightSide .userNotice span
{
    color:#343530;
}

#mainArea #rightSide ul.highlight
{
    background-color:#E9F0F6;
    border-color:#8fb3d4;
}

#pageFooter
{
    border-top-color:#D6E8EE;
}

#versionFooter
{
    color:#aaa;
}

#versionFooter a
{
    color:#aaa;
}

#versionFooter a:hover
{
    color:#666;
}

.bugList .bugs th,
.biglist th,
.smalllist th,
.mini-table th
{
    background-color:#efefef;
    border-bottom-color:#ccc;
}

.bugList .bugs th a:visited,
.biglist th a:visited,
.smallist th a:visited,
.mini-table th a:visited
{
    color:#39668e;
}

.bugList .bugs th a.dotted:visited,
.biglist th a.dotted:visited,
.smallist th a.dotted:visited,
.mini-table th a.dotted:visited
{
    border-bottom-color:#39668e;
}

.bugList .bugs th
{
    border-right-color:#BBB;
    border-bottom-color:#BBB;
    border-top-color:#DDD;
}

#mainArea .bugList .bugs .newCase th,
#mainArea .bugList .bugs .emptyBorderTop th
{
    /*color:#666;
    border-top-color:#d6d6d6;*/
    color:#586e75;
    border-top-color:#073642;
}

#mainArea .bugList .bugs td.rCB,
#mainArea .bugList .bugs th.rCB,
.biglist th.L,
.biglist td.L
{
    /*border-left-color:#d6d6d6;*/
    border-left-color:#073642;
}

.biglist th.R,
.biglist td.R
{
    /*border-right-color:#d6d6d6;*/
    border-right-color:#073642;
}

.disabled
{
    color:#979797;
}

.error
{
    color:red;
}

.graphError
{
    color:#d7191c;
}

#fbsidebar .header,
#fbsidebar .header th,
#fbsidebar .caption th
{
    background-color:#efefef;
    border-bottom-color:#ccc;
}

div.editableTableTopBar
{
    background-color:#efefef;
    border-bottom-color:#DDD;
}

#loadingBar
{
    background-color:#fff191;
    color:#59543e;
    text-shadow:0 1px #FFF;
    box-shadow:0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

div.ghostFont a:link,
div.ghostFont a:visited,
div.ghostFont a:active,
div.ghostFont a:hover,
div.ghostFont a:focus
{
    color:#39668e;
}

th.c-h
{
    border-right-color:#aab3b6;
}

input.gridTitleInput
{
    border-color:#ccc;
}

#idDropAttachments
{
    background-color:#E0E9F1;
}

#mainArea #bugGrid span.titleExtra,
#mainArea #bugGrid span.titleExtra
{
    /*color:#777;*/
    color:#839496;
}

h1.wikiPopup
{
    color:white;
    background-color:#efefef;
}

div.wikiPopup
{
    border-color:#000;
}

div.caseListCategoryPopup
{
    border-color:#000;
}

div.caseIdPopup
{
    border-color:#000;
}

table.caseIdPopupTitle
{
    background-color:#efefef;
}

td.emptyActionButtons
{
    background-color:#efefef;
}

.row td,
.r-d td,
.g-r td
{
    /*background-color:#fbfbfb;*/
    background-color:#002b36;
}

.row td,
.r-d td,
.r-a td,
.r-sel td
{
    /*border-bottom-color:#d6d6d6;*/
    border-bottom-color:#073642;
}

.g-r-a td,
.r-a td
{
    /*background-color:#ebf0f4;*/
    background-color:#002b36;
}

.r-sel td
{
    background-color:#FDFDD4;
}

.g-r td,
.g-r-a td
{
    /*border-top-color:#E1E1E1;*/
    border-top-color:#073642;
}

td.g-r-left,
.g-r-pending td
{
    /*border-left-color:#d6d6d6;*/
    border-left-color:#073642;
}

.g-r-pending td
{
    /*border-right-color:#d6d6d6;*/
    border-right-color:#073642;
}

.n-b td
{
    /*border-top-color:#E9E9E9;*/
    border-top-color:#073642;
}

#mainArea .g-r-context td,
.g-r-context td span.light,
#mainArea #bugGrid .g-r-context td a,
#mainArea #bugGrid .g-r-more td a.dotted,
#mainArea #bugGrid td span.g-r-more-paren
{
    /*color:#999;*/
    color:#586e75;
}

#mainArea #bugGrid .g-r-context td a.dotted
#mainArea #bugGrid .g-r-more td a.dotted
{
    /*border-bottom-color:#999;*/
    border-bottom-color:#586e75;
}

#r-s
{
    /*border-right-color:#d6d6d6;*/
    border-right-color:#073642;
}

span.status
{
    box-shadow:0 1px 1px #fff;
    text-shadow:0 1px 1px rgba(255, 255, 255, 0.5);
}

span.status.active
{
    border-color:#a8b4a7;
    color:#545A53;
    background-color:#E0F1DF;
}

span.status.resolved
{
    border-color:#BAC2CC;
    color:#3A4961;
    background-color:#E0E9F1;
}

span.status.closed
{
    border-color:#BBB;
    color:#555;
    background-color:#DDD;
}

#idWikiNoJS
{
    color:red;
}

#idDraftNote
{
    color:#393;
}

#Menu_Clock,
#Menu_Clock :hover
{
    background-color:#000;
}

.popupMenu a:hover,
.popupMenu a:active,
.popupMenu a:focus,
.popupMenu label.block:hover,
#mainArea .popupMenu a:hover,
#mainArea .popupMenu a:active,
#mainArea .popupMenu a:focus
{
    background-color:#b1c9dd;
}

a.messageBar
{
    color:#fff;
}

input.navbarEdit
{
    border-color:black;
}

#idWorkOnOtherDiv .navbarEdit
{
    border-color:#7F7F7F;
}

div.droplistSurround
{
    border-color:#8fb3d4;
}

a.chunk
{
    background-color:#e0e9f1;
    border-color:#bac2cc;
}

a.chunk.selected
{
    background-color:#B1C9DD;
}

a.chunk.invalid
{
    background-color:#ffdddd;
    border-color:#ff0000;
}

a.chunk.invalid.selected
{
    background-color:#ffbbbb;
}

a.chinput
{
    border-color:#fff;
}

a.headline-inverse,
a.headline-inverse:visited
{
    color:#39668e;
}

a.favoritesHeadline,
a.favoritesHeadline:visited
{
    color:#39668e;
}

a:hover.favoritesHeadline,
a:active.favoritesHeadline,
a:focus.favoritesHeadline
{
    background-color:#b1c9dd;
}

#idDisclaimer
{
    color:#444;
}

table.miniLogOn
{
    border-color:#e0e9f1;
    background-color:#e0e9f1;
}

.copyright
{
    color:#999999;
}

.errorLabel
{
    color:red;
}

.errorMessage
{
    color:red;
}

.dlgButton,
.skinnyButton,
.dialog input.dlgButton
{
    border-top-color:#ccc;
    border-left-color:#ccc;
    border-right-color:#8c8b89;
    border-bottom-color:#8c8b89;
    background-color:#efefef;
}

.dlgButton,
.dialog input.dlgButton
{
    color:#444;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    background-color:#F7F7F7;
    border-color:#AAA;
}

.dlgButton:hover,
.dialog input.dlgButton:hover
{
    color:#39668e;
    border-color:#888;
}

.dlgButton:disabled,
.dialog input.dlgButton:disabled
{
    color:#979797;
}

.dlgText,
textarea
{
    border-color:#8fb3d4;
}

textarea.readonly
{
    background-color:#EBEBE4;
}

.editInstructions,
.more-results
{
    color:#666;
}

.notify-container .error
{
    color:#CC0000;
}

.notify
{
    background-color:#E9F0F6;
}

.notify-report-bottom
{
    border-top-color:#CCC;
}

a.notify-report-link
{
    background-color:#efefef;
    border-top-color:#ccc;
    border-left-color:#ccc;
    border-right-color:#8c8b89;
    border-bottom-color:#8c8b89;
}

.dialog textarea
{
    border-color:#8fb3d4;
}

.dialog .dialog-error
{
    color:red;
}

.dialog .dialog-item-instructions
{
    color:#666;
}

.dialog .dialog-item-errormsg
{
    color:red;
}

.dialog .dialog-item-error input.dlgText
{
    border-color:red;
}

.dialog .dialog-item-error textarea
{
    border-color:red;
}

.dialog-single-col .dialog-item-label
{
    color:#666;
}

.dialog-mixed-col .dialog-item-label
{
    color:#666;
}

input.dlgError,
textarea.dlgError
{
    border-color:red;
}

input.error
{
    border-color:red;
}

div.command
{
    background-color:#ddd;
    color:#333;
}

.bugOccurrences
{
    color:gray;
}

.bugSmallPrint
{
    color:#666;
}

.bugEventSmallPrint
{
    color:#666;
}

.bugEventSmallPrintNoMargin
{
    color:#666;
}

.bugNoEstimate
{
    color:red;
}

caption.miniReport
{
    background-color:#CCCCCC;
}

.bugTeaser
{
    color:#999999;
}

.bugEventDate,
.bugEventDate a:link,
.bugEventDate a:visited
{
    color:#555555;
}

.dropShadow
{
    border-color:#CCC;
    box-shadow:0 1px 4px #ccc;
}

img.dropShadow
{
    border-color:#b3b6b9;
}

.bugWeeComment
{
    color:#666;
}

#mainArea td.actionButtons
{
    border-right-color:#023953;
    border-bottom-color:#023953;
    border-left-color:#2e86a0;
    border-top-color:#2e86a0;
    background-color:#000;
}

a.actionButton:hover,
a.actionButton:active,
a.actionButton:focus
{
    color:#39668e;
}

a.actionButtonDisabled:link,
a.actionButtonDisabled:visited,
a.actionButtonDisabled:hover,
a.actionButtonDisabled:active,
a.actionButtonDisabled:focus
{
    color:#999999;
}

a.actionButton:link,
a.actionButton:visited,
a.actionButton:hover,
a.actionButton:active,
a.actionButton:focus,
a.actionButtonDisabled:link,
a.actionButtonDisabled:visited,
a.actionButtonDisabled:hover,
a.actionButtonDisabled:active,
a.actionButtonDisabled:focus
{
    border-right-color:#ccc;
    border-bottom-color:#ccc;
    border-left-color:#d6d6d6;
    border-top-color:#d6d6d6;
    background-color:#efefef;
}

table.bug
{
    background-color:#EEEEEE;
    border-color:#000;
}

.dlgItemError input,
input.dlgErrorBorderOnly
{
    border-color:red;
}

.public div.articleBar
{
    background-color:#e0e9f1;
    border-color:#bac2cc;
}

div.articleBar a
{
    color:#39668e;
}

.hostedTip,
.bugTip
{
    color:#333;
}

.hostedTip strong,
.bugTip strong
{
    color:#262626;
}

.popWarning,
.firstTimeLogOnTip,
.ccChargeNoteTip,
.hoverBugTip,
.helpbox
{
    background-color:#ffffb3;
    border-right-color:#444444;
    border-bottom-color:#444444;
}

.firstTimeLogOnTip,
.ccChargeNoteTip,
.hoverBugTip,
.helpbox
{
    color:#666;
}

td.topLeft
{
    border-left-color:#000;
}

td.topRight
{
    border-right-color:#000;
}

td.topLeft,
td.topRight
{
    border-top-color:#000;
}

td.middleLeft,
td.middleRight
{
    background-color:#ebf0f4;
}

td.topLeft,
td.topRight,
td.bottomLeft,
td.bottomRight
{
    background-color:#EEEEEE;
}

td.description
{
    border-bottom-color:#d6d6d6;
    border-top-color:#d6d6d6;
}

td.bottomBorder
{
    border-bottom-color:#d6d6d6;
}

div.emailHeader
{
    background-color:#e0e9f1;
    border-color:#bac2cc;
    color:#151E2D;
    box-shadow:inset 0 1px #fff;
}

div.emailActionsMore
{
    background-color:#efefef;
    border-color:#bac2cc;
    box-shadow:inset 1px 1px #fff;
}

div.emailActionsMore a,
div.emailActionsMore a:visited
{
    color:#39668e;
}

div.emailActionsMore span.emailActionsSectionLeft
{
    border-right-color:#bac2cc;
}

.bugWindowItems,
.bugWindowItem
{
    border-color:#ccc;
}

.bugWindowItems .windowHeading
{
    border-bottom-color:#ccc;
    background-color:#efefef;
}

.bugWindowItem .itemHeading
{
    border-bottom-color:#ccc;
    color:#262626;
    background-color:#bac2cc;
}

div#bulkReplyTokens
{
    background-color:#f2f0ea;
}

table.biglist tr.selected td
{
    background-color:#bac2cc;
}

.caseIdContent .outline a,
.caseIdContent .outline a:visited,
.outline a,
.outline a:visited
{
    color:#39668e;
}

td.estimatePrompt,
.selectAll
{
    color:#666;
}

caption.fileDiff,
th.fileDiff,
td.fileDiff,
table.fileDiff
{
    border-color:#CCCCCC;
}

td.fileDiffAdd
{
    background-color:#CCCCFF;
}

td.fileDiffChange
{
    background-color:#CCFFCC;
}

td.fileDiffDelete
{
    background-color:#FFCCCC;
}

.delimit
{
    border-color:#ddd;
    border-right-color:#abc;
    border-bottom-color:#abc;
    background-color:#f3f6f9;
}

#tabs li
{
    border-top-color:#cde;
    border-right-color:#789;
    border-left-color:#cde;
}

#tabs a:link,
#tabs a:visited
{
    background-color:#d3d6d9;
}

#tabs li a:hover,
#tabs li a:active,
#tabs li a:focus
{
    background-color:#def;
    color:#000066;
}

#tabs li.disabled a
{
    color:#9B9CA0;
}

#tabs li.disabled a:hover,
#tabs li.disabled a:active,
#tabs li.disabled a:focus
{
    background-color:#d3d6d9;
    color:#9B9CA0;
}

.popWarning
{
    color:#CC0000;
}

.warning
{
    background-color:#FFB2B2;
    border-color:#FF4040;
}

#mainArea .popFilterOpt a:hover,
#mainArea .popFilterOpt a:active,
#mainArea .popFilterOpt a:focus
{
    background-color:#b1c9dd;
}

#mainArea .popFilterOpt div.close a:link,
#mainArea .popFilterOpt div.close a:visited
{
    background-color:none;
}

#editSnippetHelper
{
    background-color:#e0e9f1;
    box-shadow:0px 2px 6px #888;
    *border-color:#CCC;
}

#idSnippetText span.snippetText span.placeholderReplacement
{
    background-color:#fdfdfd;
}

p.discuss
{
    border-bottom-color:#000;
}

h3.discussUndecided
{
    color:#999999;
}

div.discussReview
{
    border-color:red;
}

div.discussTopics a.discussUndecided,
div.discussBodyUndecided
{
    color:#999;
}

div.discussSearch,
div.wikiSearch
{
    background-color:#e0e9f1;
    border-right-color:#0F5675;
    border-bottom-color:#0F5675;
}

div.reportSelectArea
{
    background-color:#ebf0f4;
}

.skinnyOrangeButton
{
    border-color:#FC9 #630 #330 #F96;
    color:#FFF;
    background-color:#F60;
}

table.calendar
{
    border-color:#ccc;
}

table.calendar tr.day td a:hover,
table.calendar tr.day td a:active,
table.calendar tr.day td a:focus
{
    background-color:#def !important;
}

table.calendar tr.monthname th,
table.calendar tr.tips td
{
    background-color:#d4d0c8;
}

table.calendar tr.weekname th
{
    border-bottom-color:#000;
}

.navbarButton
{
    border-color:black;
    background-color:gray;
    color:white;
}

.hotkeyHelper
{
    background-color:#ffffb3;
}

#mainArea .headerBar,
#mainArea .headerBar a
{
    color:white;
    background-color:gray;
}

.contextPopup
{
    background-color:#f7f7f7;
    border-color:#d6d6d6;
    box-shadow:0 1px 5px #ccc;
}

.wysDropHover td
{
    background-color:#b1c9dd;
}

.wysDropHover td.icon div
{
    border-right-color:#b1c9dd;
}

.wysDropHover td.text
{
    border-left-color:#FFF;
}

.wysDropNormal td.icon div
{
    border-right-color:#DDD;
}

.wysDropNormal td.text
{
    border-left-color:#FFF;
}

.wysDropDepressed td
{
    background-color:#8fb3d4;
}

.wysDropDepressed td.icon div
{
    border-right-color:#8fb3d4;
}

.wysDropDepressed td.text
{
    border-left-color:#FFF;
}

a:link,
a.novisited:visited,
#mainArea a.novisited:visited
{
    color:#39668e;
}

a.dotted,
a .dotted,
a.novisited.dotted:visited,
a.novisited:visited .dotted
{
    border-bottom-color:#0F5491;
}

a:visited
{
    color:#938;
}

a.dotted:visited,
a:visited .dotted
{
    border-bottom-color:#938;
}

#navTopContainer
{
    /*background-color:#f3f3f3;
    background-image:-o-linear-gradient(top, #f3f3f3, #eaeaea);
    background-image:linear-gradient(top, #f3f3f3, #eaeaea);*/
    background-color:#073642;
    background-image:none;
    border-bottom-color:#bac2cc;
}

#navTop,
#navTop a.navlink,
#navTop a .underline,
#navTop a .dotted
{
    /*color:#333;*/
    color:#586e75;
}

td.appPlanHover
{
    border-color:#aaa;
}

td.appPlanSelected
{
    border-color:#aaa;
    background-color:#efefef;
}

#appTabs li
{
    border-left-color:#bac2cc;
    border-right-color:#bac2cc;
}

#appTabs li.tabKiln
{
    background-color:#e0f1df;
    background-color:#f0f7ef;
    background-image:-o-linear-gradient(top, #f0f7ef, #e0f1df);
    background-image:linear-gradient(top, #f0f7ef, #e0f1df);
}

#appTabs li.tabKiln:hover
{
    background-color:#CEEACC;
    background-color:#f0f7ef;
    background-image:-o-linear-gradient(top, #f0f7ef, #ceeacc);
    background-image:linear-gradient(top, #f0f7ef, #ceeacc);
}

#appTabs li.tabFogBugz
{
    background-color:#e0e9f1;
    background-color:#f0f4f8;
    background-image:-o-linear-gradient(top, #f0f4f8, #e0e9f1);
    background-image:linear-gradient(top, #f0f4f8, #e0e9f1);
}

#appTabs li.tabFogBugz:hover
{
    background-color:#d2e2ef;
    background-color:#f0f4f8;
    background-image:-o-linear-gradient(top, #f0f4f8, #d2e2ef);
    background-image:linear-gradient(top, #f0f4f8, #d2e2ef);
}

#appTabs li.tabFogBugz.selected:hover
{
    background-color:#e0e9f1;
    background-color:#f0f4f8;
    background-image:-o-linear-gradient(top, #f0f4f8, #e0e9f1);
    background-image:linear-gradient(top, #f0f4f8, #e0e9f1);
}

#appTabs li.selected
{
    border-bottom-color:#e0e9f1;
}

#appTabs li.selected a
{
    color:#485160;
}

#appTabs li a
{
    color:#333;
}

#banner
{
    border-bottom-color:#bac2cc;
    border-top-color:#fff;
    background-color:#e0e9f1;
}

.neutral#banner
{
    border-top-color:#aaa;
    border-bottom-color:#aaa;
    background-color:#f7f7f7;
}

div.kilnInfo
{
    background-color:#e0f1df;
    border-color:#b7deb5;
    padding:10px;
}

#mainnav a.navlink,
#mainnav .neutral a.navlink
{
    color:#485160;
}

#mainnav a.navlink:hover,
#mainnav #mainnav a.navlink:focus
{
    background-color:#b1c9dd;
    box-shadow:inset 0 1px 1px #8293ad;
}

.neutral #mainnav a.navlink:hover,
.neutral #mainnav a.navlink:focus
{
    background-color:#ccc;
    box-shadow:inset 0 1px 1px #aaa;
}

#banner #containerTBRight a.navlink:hover,
#banner #containerTBRight a.navlink:focus
{
    background-color:#ccc;
    border-radius:4px;
}

#containerTBRight span.navtext
{
    color:#444;
}

.searchBorder
{
    border-color:#b1c9dd;
    border-top-color:#99aebf;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.1),0 1px 1px rgba(0, 0, 0, 0.15) inset;
}

#containerTBRight.containerSearch
{
    border-color:#b1c9dd;
    border-top-color:#99aebf;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.1),0 1px 1px rgba(0, 0, 0, 0.15) inset;
}

#containerTBRight.containerSearch #btnNavbarSearch:hover
{
    background-color:#e0e9f1;
}

#belowBanner
{
    background-color:#E0E9F1;
    border-color:#D5DFEB;
    box-shadow:inset 0 1px 2px #cad2d9;
}

#belowBanner a.navlink
{
    color:#485160;
}

#belowBanner a.navlink:hover,
#belowBanner a.navlink:focus
{
    background-color:#b1c9dd;
}

#belowBanner a.menu img
{
    border-top-color:#485160;
}

#listHeader
{
    background-color:#efefef;
    border-color:#DDD #DDD #AEAEAE;
    box-shadow:0px 1px 1px #ccc;
    *border-color:#CCC;
}

#listName a,
#listName a:link,
#listName a:visited,
#listTitle a,
#listTitle a:link,
#listTitle a:visited
{
    border-bottom-color:#000;
}

#listHeader #listTitle span.further,
#listHeader #listTitle span.further a
{
    color:#888;
    text-shadow:1px 1px 0 #fff;
}

#viewSelector div.dropdownHolder
{
    border-color:#CCC;
    box-shadow:1px 1px 0 #fff;
}

div.viewMoreOptions a
{
    color:#39668e;
}

.faded
{
    color:#aaa;
}

a.tab:link,
a.tab:visited,
a.tabSelected:link,
a.tabSelected:visited
{
    background-color:#DDDDDD none repeat;
    border-left-color:#7e8276;
    border-top-color:#7e8276;
    border-right-color:#778899;
}

a.tabSelected:link,
a.tabSelected:visited
{
    border-bottom-color:#FFFFFF;
}

#graphArea
{
    border-color:#7e8276;
}

#graphPrintTip
{
    background-color:#ffffb3;
    border-color:#444444;
    color:red;
}

.detailGraphLegend td.borderCell
{
    border-color:#7e8276;
}

#wikiRevisionContainer
{
    box-shadow:0 1px 1px #ccc;
    background-color:#E0E9F1;
    border-color:#B1C9DD;
}

.wikiRevisionBannerDate
{
    color:#999;
}

.wikiRevisionBannerLink:link,
.wikiRevisionBannerLink:active,
.wikiRevisionBannerLink:visited,
.wikiRevisionBannerLink:hover
{
    color:#0F5491;
}

.wikiRevisionBannerDisabledLink,
.wikiRevisionBannerDisabledLink:hover
{
    color:#777;
}

.mini-table-instructions
{
    color:#666;
}

.accordionContainer h3
{
    background-color:#ebf0f4;
}

div.containerAppSectionLink
{
    border-color:#ccc;
    border-bottom:0px;
    background-color:#efefef;
}

a.appSectionLink,
a.appSectionLink:visited
{
    border-right-color:#ccc;
    color:#39668e;
}

div.appSectionBody
{
    border-color:#ccc;
}

span.virtualLink
{
    border-bottom-color:#000;
}

span.virtualLink.disabled
{
    color:#444;
    border-bottom-color:#444;
}

div.editModeSelector
{
    background-color:#efefef;
    border-bottom-color:#CCC;
    box-shadow:inset 0 1px #fff;
}

div.tooManyAttachments
{
    background-color:lightyellow;
    border-color:lightgrey;
}

#speedyUserAttentionGrabber
{
    background-color:#f8f6f2;
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.25),0 0 2px rgba(0, 0, 0, 0.25);
}

#browserNotification
{
    background-color:#ffa;
    border-bottom-color:#eea;
}

.popover
{
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.25),0 0 2px rgba(0, 0, 0, 0.25);
    color:#666;
}

.popover:before
{
    border-bottom-color:rgba(0, 0, 0, 0.15);
}

.popover.bottom:before
{
    border-top-color:rgba(0, 0, 0, 0.15);
}

.popover hr
{
    border-bottom-color:#ccc;
}

.popover span.popover-header
{
    color:#777;
}

.profilePicture
{
    border-color:#ccc;
    box-shadow:0 0 4px rgba(0, 0, 0, 0.1);
}

.ui-widget-content,
.ui-widget-header
{
    border-color:#aaa;
}

.ui-widget-content,
.ui-widget-content a,
.ui-widget-header,
.ui-widget-header a
{
    color:#222;
}

.ui-widget-header
{
    background-color:#ccc;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
{
    border-color:#d3d3d3;
    background-color:#e6e6e6;
}

.ui-state-default,
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
{
    color:#555;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
{
    border-color:#999;
    background-color:#dadada;
    color:#212121;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active
{
    color:#212121;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active
{
    border-color:#aaa;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight
{
    border-color:#fcefa1;
    background-color:#fbf9ee;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a
{
    color:#363636;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error
{
    border-color:#cd0a0a;
    background-color:#fef1ec;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error,
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a,
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text
{
    color:#cd0a0a;
}

.ui-widget-overlay,
.ui-widget-shadow
{
    background-color:#aaa;
}

body
.colorschemeHeader,
#bugviewContainer #fieldPaletteContent a,
#bugviewContainer #fieldPaletteContent a:link,
#fieldPaletteContent a:visited,
#bugviewContainer #fieldPaletteContent a:focus,
#fieldPaletteContent a:active,
#fieldPaletteContent a:hover,
#fbsidebar .header,
#fbsidebar .header th,
#fbsidebar .caption th,
.listToolbar a:link,
.listToolbar a:visited,
.listToolbar a:link,
.listToolbar a:visited,
#www-fogcreek-com-fogbugz,
#containerWikiConflictDiffTitles td,
#containerWikiConflictDiff #tdDiff1,
#containerWikiConflictDiff #tdDiff2,
span.messageBar,
.inverse,
#mainArea a.headline,
#bugDetails a.headline,
.notify-message,
.bugWindowItems .windowHeading,
table.calendar a,
.hotkeyHelper,
.accordionContainer h3,
#mainArea .popFilterOpt,
#bugviewContainer .buttonbar ul.toolbar.buttons li a:active,
#bugviewContainer .bugevents .bugevent.detailed,
#bugviewContainer .bugevents .pseudobugevent.detailed,
#mainArea,
#mainAreaContinued,
.mainArea h2,
#mainArea h1,
#mainAreaContinued h1,
#fbsidebar,
#fbsidebar th,
#fbsidebar td,
.popupHeadlineStarred,
#idPopupPeopleSearch label.block,
.popupMenu a:link,
.popupMenu a:visited,
.popupMenu label.block,
.popupMenu div.popupHeadline,
#mainArea .popupMenu a:link,
#mainArea .popupMenu a:visited,
.popupMenu a:hover,
.popupMenu a:active,
.popupMenu a:focus,
.popupMenu label.block:hover,
#mainArea .popupMenu a:hover,
#mainArea .popupMenu a:active,
#mainArea .popupMenu a:focus,
a.appSectionLinkSelected,
a.appSectionLinkSelected:visited,
.headline,
.dialog-title,
p.dlg,
.bugGroup,
#mainArea select.actionButton,
#mainArea input.actionButton_pseudo,
a.actionButton:link,
a.actionButton:visited,
#idBugTitle,
#idAreaProject,
input.wikiHeadlineEditable,
#mainArea a.nextPrev,
#mainArea a.nextPrev:visited,
#mainArea a.nextPrev:hover,
#mainArea a.nextPrev:active,
#mainArea a.nextPrev:focus,
#mainArea .popFilterOpt a:link,
#mainArea .popFilterOpt a:visited,
#mainArea .popFilterOptDivision,
#tabs a:link,
#tabs a:visited,
#listName,
#listTitle,
#listHeader #listTitle span.further a:hover,
#listName a,
#listName a:link,
#listName a:visited,
#listTitle a,
#listTitle a:link,
#listTitle a:visited,
h1.wiki,
h1.discuss,
p.discuss,
p.discuss a,
div.discussSearch,
div.wikiSearch
{
    /*color:black;*/
    color:#839496;
}

a.messageBar:hover,
a.messageBar:active,
a.messageBar:focus,
#mainArea .popFilterOpt,
.popupMenu,
.favoritesPopup,
td.wysSymbol,
#bugviewContainer .buttonbar ul.toolbar.buttons li a:hover,
#bugviewContainerTop,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-widget-content,
.popover.bottom:after,
.popover:after,
.popover,
a.appSectionLinkSelected,
a.appSectionLinkSelected:visited,
.detailGraphLegend td.borderCell,
#idGraphContainer,
a.tabSelected:link,
a.tabSelected:visited,
#mainArea .popFilterOpt div.highlight,
div.emailActionsMore span.emailActionsSection:hover,
img.dropShadow,
#fieldPalette,
#bugviewContainer .bugevents #bugviewContainerEdit .bugevent,
#bugviewContainer .bugevents .bugevent.detailed .body,
#bugviewContainer .bugevents .pseudobugevent.detailed .body,
#bugviewContainer .bugevents .bugevent.detailed .attachments,
#bugviewContainer .bugevents .pseudobugevent.detailed .attachments,
#mainArea .bugList .bugs .newCase th,
#mainArea .bugList .bugs .emptyBorderTop th,
body,
#www-fogcreek-com-fogbugz,
#listName,
table.calendar,
table.calendar tr,
#containerTBRight.containerSearch,
div.wikiPopup,
div.emailBody,
div.droplistSurround,
div.caseIdPopup,
div.caseListCategoryPopup,
a.chunk.hover
a.chunk.invalid.hover
{
    /*background-color:white;*/
    background-color:#002b36;
}






